[Unit]
Description=EPEVER Web Interface
After=network.target

[Service]
Type=simple
User=frank
Group=frank
WorkingDirectory=/opt/epever-mqtt-gateway
Environment="PATH=/opt/epever-mqtt-gateway/venv/bin"
ExecStart=/opt/epever-mqtt-gateway/venv/bin/python /opt/epever-mqtt-gateway/webapp.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
